.news__h2 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 35px; }

.news__title {
  line-height: 30px;
  text-align: center;
  font-weight: 300; }

.news-btn-svg {
  fill: #3383EA; }

.news__btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  transition: ease-in-out 0.2s; }
  .news__btn:hover {
    stroke-width: 2px;
    stroke: #3383EA; }
    .news__btn:hover svg {
      fill: white; }
  .news__btn:active svg {
    fill: #abcbd8; }

.news_btn--right {
  transform: rotate(180deg); }

.news__card-wrp {
  margin: 0 auto;
  width: 80%; }

.news__card {
  margin: 0 auto;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 240px;
  height: 300px;
  min-width: 200px;
  display: none; }

.news-active {
  transition: ease-in-out 0.3s;
  display: block; }

.news__img {
  width: 100%;
  height: 120px; }

.news__card-content {
  padding: 10px; }

.news__card-date-btn-wrp {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.news__card-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }

.news__card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin: 15px 0; }

.news__card-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.02em; }

.news__card-btn {
  display: block;
  text-decoration: none;
  color: white;
  width: 95px;
  height: 24px;
  border-radius: 15px;
  background: linear-gradient(91.24deg, #3383EA 29.88%, #226AC6 81.31%);
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #F8F8F8;
  position: relative; }
  .news__card-btn:hover {
    width: 110px;
    letter-spacing: 0.1em; }

.news__wrp {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px auto  50px;
  padding: 0 10px;
  max-width: 1340px; }

@media (min-width: 700px) {
  .news__card {
    width: 45%; }
  .news__card-wrp {
    display: flex;
    justify-content: space-between; }
  .news__h2 {
    font-size: 31px;
    line-height: 60px; } }

.slider-container {
  overflow: hidden;
  margin: 0 auto;
  width: 280px; }

.slider-track {
  display: flex;
  transition: .2s; }

.slider-item {
  width: 280px;
  height: 340px; }

.news__card1 {
  margin: 20px;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }

.slider-buttons {
  text-align: center; }

.btn-prev:disabled svg {
  opacity: 0.3; }

.btn-next:disabled svg {
  opacity: 0.3; }

.news-wrp {
  max-width: 1240px;
  width: 95%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (min-width: 650px) {
  .slider-container {
    width: 560px; } }

@media (min-width: 950px) {
  .slider-container {
    width: 840px; } }

@media (min-width: 1200px) {
  .slider-container {
    width: 1160px; } }

.logo-wrp {
  margin-right: 0;
  display: flex;
  align-items: center; }

.logo-text {
  margin-left: 10px; }

.logo-name {
  font-size: 12px;
  font-weight: 500;
  color: #313131;
  margin-bottom: 3px;
  line-height: 12px; }

.logo-slogan {
  line-height: 10px;
  font-size: 8px;
  margin-bottom: 0px;
  letter-spacing: -0.055em;
  color: #313131; }

.nav-tel {
  margin-left: auto;
  margin-right: 20px; }

.tel-number-wrp {
  display: none; }

.navbar-toggler {
  position: relative;
  width: 30px;
  height: 21px; }

.toggle-line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #313131; }

.toggle-line--first {
  top: 0; }

.toggle-line--second {
  top: 7px; }

.toggle-line--third {
  top: 14px; }

@media (max-width: 330px) {
  .nav-tel {
    margin-right: 5px; }
    .nav-tel img {
      width: 23px;
      height: 23px; } }

@media (min-width: 470px) {
  .tel-number-wrp {
    display: block; }
  .nav-tel img {
    display: none; }
  .tel-number {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #313131;
    margin-bottom: 5px; }
  .tel-text {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 10px;
    color: #313131;
    line-height: 12px; } }

.nav-link {
  color: #313131; }

@media (min-width: 990px) {
  .nav-tel {
    order: 3; }
  .nav-list-wrp {
    order: 2; }
    .nav-list-wrp ul {
      width: 83%;
      justify-content: space-between !important; }
  .logo-name {
    font-size: 16px;
    line-height: 20px; }
  .logo-slogan {
    font-size: 10px; }
  .logo-wrp img {
    width: 79px;
    height: 79px; } }

.navbar-expand-lg {
  max-width: 1280px;
  margin: 0 auto; }

.header__body--wrp {
  width: 100%;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 480px;
  background-position-x: -742px; }

.header__body--bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(127.26deg, rgba(41, 40, 40, 0.64) 43.16%, rgba(37, 37, 37, 0.460156) 49.52%, rgba(34, 34, 34, 0.295833) 60.54%, rgba(30, 30, 30, 0) 72.18%); }

.header__body {
  z-index: 3;
  position: relative;
  padding: 0 20px; }
  .header__body p {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.045em;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 60px; }

.header__h2 {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #FFFFFF; }

@media (min-width: 690px) {
  .header__body--wrp {
    background-position: top center;
    background-size: cover; }
  .header__body--bg {
    background: linear-gradient(127.26deg, rgba(41, 40, 40, 0.84) 43.16%, rgba(37, 37, 37, 0.660156) 49.52%, rgba(34, 34, 34, 0.395833) 60.54%, rgba(30, 30, 30, 0) 72.18%); }
  .header__body {
    max-width: 1280px;
    margin: 0 auto; }
    .header__body p {
      font-size: 18px;
      line-height: 24px; }
  .header__h2 {
    font-size: 50px;
    line-height: 45px; } }

.services__item {
  position: relative;
  height: 320px;
  width: 277px;
  padding: 20px; }
  .services__item .services__item--bg {
    position: absolute;
    top: 0px; }

.services__h3 {
  z-index: 2;
  position: relative;
  color: #fff;
  margin-left: 30px;
  margin-top: 57px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-transform: uppercase; }

.services__list {
  margin: 44px 0; }

.services__arrow-wrp {
  display: flex;
  justify-content: center; }
  .services__arrow-wrp .arrow-img {
    margin-left: 80px;
    margin-right: -25px;
    width: 85px !important;
    height: auto !important;
    position: relative; }
  .services__arrow-wrp .circle-img {
    position: relative;
    width: 48px !important;
    height: 48px !important; }

.services__link {
  margin-top: 80px;
  position: relative;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .services__link span {
    margin-bottom: -20px;
    font-size: 15px; }
  .services__link:hover {
    color: #fff;
    text-decoration: none; }

.services__list {
  list-style: none; }

.services__item {
  background-image: url("../img/services-1.jpg");
  background-position: top center;
  background-size: cover; }

@media (min-width: 750px) {
  .services__item {
    transition: all .3s;
    width: 100%;
    height: auto;
    padding: 20px; }
    .services__item .services__item--bg {
      position: absolute;
      top: 0px; }
  .services__list {
    margin-top: 70px;
    transition: all .3s;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 270px 270px;
    grid-template-columns: 24% 24% 24% 24%; }
  .service__hover-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%; }
    .service__hover-1 .services__item--bg {
      width: 96%;
      height: auto; }
  .services__h3 {
    margin-left: 0px; }
  .service__hover-2 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%; }
    .service__hover-2 .services__item--bg {
      width: 96%;
      height: auto; } }

.advantages {
  background-image: url("../img/adv-bg.jpg");
  background-repeat: no-repeat; }

.adventages__wrp {
  padding: 40px 20px 0; }

.advantages__left {
  display: none; }

.adv__h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 134.69%;
  /* or 47px */
  letter-spacing: -0.065em;
  color: #FFFFFF; }

.advent__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 154.19%;
  letter-spacing: -0.045em;
  color: #FFFFFF; }

.adventages__text-wrp {
  margin-bottom: 50px; }

.advantagest__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.advantages__item {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 45%;
  margin-bottom: 25px; }

@media (min-width: 600px) {
  .adventages__wrp {
    display: flex;
    align-items: center; }
  .adventages__text-wrp {
    width: 70%;
    margin-bottom: 40px; }
  .advantagest__list {
    flex-direction: column; }
  .advantages__item {
    width: 100%; } }

@media (min-width: 1040px) {
  .advantages {
    margin-top: 200px;
    background-position: top right; }
  .advantages__left {
    width: 33%;
    margin-right: 30px;
    height: auto;
    display: block;
    margin-top: -60px;
    margin-left: -20px; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat'; }

input {
  -webkit-tap-highlight-color: transparent; }

input[type=checkbox] {
  -webkit-appearance: none; }

button {
  -webkit-tap-highlight-color: transparent; }

.button {
  background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%);
  box-shadow: 0px 12px 30px rgba(97, 127, 168, 0.54);
  width: 270px;
  height: 59px;
  border: none;
  font-size: 14px;
  line-height: 59px;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF; }
