@import "blocks/news.scss";
@import "blocks/main-nav.scss";
@import "blocks/header-body.scss";
@import "blocks/services.scss";
@import "blocks/advantages.scss";
@import "blocks/call.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";
@import "blocks/breadcrumb.scss";
@import "blocks/map.scss";


/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-Light.woff2") format("woff2"),
       url("../fonts/webfonts/Montserrat-Light.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-Medium.woff2") format("woff2"),
       url("../fonts/webfonts/Montserrat-Medium.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-SemiBold.woff2") format("woff2"),
       url("../fonts/webfonts/Montserrat-SemiBold.woff") format("woff");
}
/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/webfonts/Montserrat-Bold.woff2") format("woff2"),
       url("../fonts/webfonts/Montserrat-Bold.woff") format("woff");
}

*{
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  font-family: "Montserrat" !important;
}

body {
  font-family: "Montserrat" !important;
}
input{
  -webkit-tap-highlight-color:transparent;
}
input[type=checkbox]{
  -webkit-appearance: none;
  }
button{
  outline: none;
  -webkit-tap-highlight-color:transparent;
}
.page{
}

.button{
  background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%);
  box-shadow: 0px 12px 30px rgba(97, 127, 168, 0.54);
  width: 270px;
  height: 59px;
  border: none;
  font-size: 14px;
  line-height: 59px;
  align-items: center;
  letter-spacing: -0.02em;
  transition: ease-in .2s;
  color: #FFFFFF;
  &:hover{
    border: none;
    box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.44);
  }
  &:active{
    transition: ease-in .2s;

    box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.44), inset 10px 10px 20px #416594;
    border: none;
  }
}

.input{
  background-color: #F3F3F3;
  width: 270px;
  height: 59px;
  line-height: 59px;
  padding-left: 46px;
  outline: none;
  border: none;
  transition: ease-in .2s;

  &:focus{

    box-shadow: inset 0px 4px 20px rgba(138, 137, 137, 0.35);    border: none;
  }
}

.hover__link{
  &:after {
      pointer-events: none; // чтоб не мешался
      opacity: 0;
      transition: ease opacity 0.3s;
      transition-delay: .0s; // при убирании курсора анимация сразу сработает
    }
  
    &:hover {
      &:after {
        opacity: 1;
      }
    }
}
.hover__link::after{
  transition: .2s;
  opacity: 0;
  margin-bottom: -3px;
  content: "";
  display: block;
  height: 3px;
  width: inherit;
  background: linear-gradient(92.2deg, #95A3BF 25.37%, #5D7CA6 67.28%);
}