.advantages{
    background-image: url('../img/adv-bg.jpg');
    background-repeat: no-repeat;
}

.adventages__wrp{
    padding: 40px 20px 0;
}

.advantages__left{
    display: none;
}

.adv__h2{
    font-weight: bold;
    font-size: 35px;
    line-height: 134.69%;
    /* or 47px */
    letter-spacing: -0.065em;
    color: #FFFFFF;
}

.advent__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 154.19%;
    letter-spacing: -0.045em;
    color: #FFFFFF;
}

.adventages__text-wrp{
    margin-bottom: 50px;
}

.advantagest__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.advantages__item{
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 45%;
    margin-bottom: 25px;
}

@media(min-width:600px){
    .adventages__wrp{
        display: flex;
        align-items: center;
    }
    .adventages__text-wrp{
        width: 70%;
        margin-bottom: 40px;
        

    }
    .advantagest__list{
        flex-direction: column;
    }
    .advantages__item{
        width: 100%;
    }
}

@media(min-width:1040px){
    .advantages{
        margin-top: 200px;
        background-position: top right;
    }
    .advantages__left{
        width: 33%;
        margin-right: 30px;
        height: auto;
        display: block;
        margin-top: -60px;
        margin-left: -20px;
    }
}