.advantages{
    //background-image: url('../img/adv-bg.jpg');
   // background-repeat: no-repeat;
}

.adventages__wrp{
    padding: 40px 20px 0;
}

.advantages__left{
    display: none;
}

.adv__h2{
    font-weight: bold;
    font-size: 35px;
    line-height: 134.69%;
    /* or 47px */
    letter-spacing: -0.065em;
    color: #FFFFFF;
}

.advent__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 154.19%;
    letter-spacing: -0.045em;
    color: #FFFFFF;
}

.adventages__text-wrp{
    margin-bottom: 50px;
}

.advantagest__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.advantages__item{
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 45%;
    margin-bottom: 25px;
}

@media(min-width:600px){
    .adventages__wrp{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .adventages__text-wrp{
        width: 60%;
        margin-bottom: 40px;
        

    }
    .advantagest__list{
        flex-direction: column;
    }
    .advantages__item{
        width: 100%;
    }
}

@media(min-width:1040px){
    .advantages{
        background-position: top right;
        max-width: 1330px;
        margin: 150px auto 0;
    }
    .advantages__left{
        width: 36%;
        margin-right: 30px;
        height: auto;
        display: block;
        margin-top: -40px;
        margin-left: -20px;
    }
    .adv__h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .advantagest__list{
        width: 34%;
    }
    .advent__text{
        font-size: 20px;
        line-height: 31px;
    }
    .img-3{
        width: 72px;
        margin-bottom: 15px;
    }
    .img-150{
        margin-bottom: 15px;
        width: 172px;
    }
}
@media(min-width:1120px){

    .advantages__left{
        //margin-top: -4%;
        width: 420px;
        margin-top: -62px;
        //padding: 20px 0;
    }
    .adv-bg-wrp{
        height: 660px;
        margin-bottom: 100px;
    }
}
@media(min-width:1230px){

    
}

.adv-bg-wrp{
    background-image: url("../img/adv-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@media(min-width: 1330px){
    
    .advantages{
    }
}