.breadcrumb-item + .breadcrumb-item::before.breadcrumb-item + .breadcrumb-item::before{
    content: '-';
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "-";
}

.breadcrumb{
    background-color: #fff;
    max-width: 1260px;
    margin: 0 auto;
}

.breadcrumb-item a{
    text-decoration: none;
    color: #5A5A5A;
    &:hover{
        text-decoration: none;
    }
}