.header__body--wrp{
    width: 100%;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    position: relative;
    height: 480px;
    background-position-x: -742px;

}
.header__body--bg{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(127.26deg, rgba(41, 40, 40, 0.64) 43.16%, rgba(37, 37, 37, 0.460156) 49.52%, rgba(34, 34, 34, 0.295833) 60.54%, rgba(30, 30, 30, 0) 72.18%);}
.header__body{
    z-index: 3;
    position: relative;
    padding: 0 20px;
    p{
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.045em;
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 60px;
    }
}

.header__h2{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #FFFFFF;
}

@media(min-width:690px){
    .header__body--wrp{
        background-position: top center;
        background-size: cover;
    }
    .header__body--bg{
        background: linear-gradient(127.26deg, rgba(41, 40, 40, 0.84) 43.16%, rgba(37, 37, 37, 0.660156) 49.52%, rgba(34, 34, 34, 0.395833) 60.54%, rgba(30, 30, 30, 0) 72.18%);
    }
    .header__body{
        max-width: 1280px;
        margin: 0 auto;
        p{
            font-size: 18px;
            line-height: 24px;
        }
    }
    .header__h2{
        font-size: 50px;
        line-height: 45px;
    }
}