

.map{
    width: 90%;
    margin: 0 auto;
    max-width: 1220px;
    iframe{
        width: 100%;
    }
}

.contact__h2{
    padding-left: 5%;
    margin: 40px 0;
}

@media(min-width:960px){
    .contact__h2{
        padding-left: 0%;
    }
}

.map--modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 45px 25px;
    max-width: 330px;
    height: 315px;
    background: rgba(43, 42, 42, 0.5);
    backdrop-filter: blur(10px);
    margin: 30px auto;
    position: relative;
    z-index: 2;
    color: #fff;
    p{
        font-size: 15px;
        line-height: 23px;

        letter-spacing: -0.04em;
    }
    div img{
        margin-right: 20px;
    }
}

.scores{
    width: 90%;
    max-width: 1220px;
    margin: 30px auto;
    margin-bottom: 50px;
    p{
        font-size: 25px;
        line-height: 33px;
        font-weight: 400;
        letter-spacing: -0.015em;
    }
}

@media(min-width:900px){

.map{
   
    iframe{
        height: 550px;
    }
}
    .map--modal{
        margin-top: -445px;
        margin-left: 55%;
        margin-right: 0;
        margin-bottom: 180px;
    }
}

@media(min-width:900px){


        .map--modal{
            margin-left: 57%;

        }
    }

.contacts--textarea{
    margin-top: 15px;
    min-height: 133px;
}

.contacts-call{
    margin-top: 13px !important;
}

.contact-input-wrp{
    max-width: 630px;
    margin: 0 auto;
}

.call-bg h2{
    font-size: 35px;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    line-height: 47px;
    font-weight: 700;
}

.call-bg p{
    color: #fff;
    br{
        display: none;
    }
}

@media(min-width:560px){
    .call-bg p{
        br{
            display: inline-block;
        }
    }
    
}