


.modal-header{
    flex-direction: column-reverse;
    border: none;
}

.modal-footer{
    border: none;
}

.modal-content{
    width: 530px;
    border-radius: none;
}

.modal-text, .modal__title{
    text-align: center !important;
}

.modal__body{
    display: flex;
    padding: 0 30px;
}

.modal__left{
    input{
        margin-bottom: 20px;
    }
}

.modal-footer{
    margin-right: auto; 
}