
.project__h2{
  padding-left: 20px;
  letter-spacing: 0.03em;
  font-weight: 600;
  line-height: 35px;
}

.news__title{
  line-height: 30px;
  text-align: center;
  font-weight: 300;
}

.news-btn-svg{

  fill: #3383EA;
}

.news__btn{
  border: none;
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  transition: ease-in-out 0.2s;
  &:hover{
    stroke-width: 2px;
    stroke: #3383EA;
    svg{
      fill: white;
    }
  }
  &:active{
    svg{
      fill: rgb(171, 203, 216);
    }

  }
}

.news_btn--right{
  transform: rotate(180deg);
}

.news__card-wrp{
  margin: 0 auto;
  width: 80%;
}

.news__card{
  margin: 0 auto;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 240px;
  height: 300px;
  min-width: 200px;
  display: none;
}

.news-active{
  transition: ease-in-out 0.3s;

  display: block;
}

.news__img{
  width: 100%;
  height: 120px;
}

.news__card-content{
  padding: 10px;
}

.news__card-date-btn-wrp{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.news__card-title{
  font-weight: normal;
font-size: 16px;
line-height: 19px;
}

.news__card-description{
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin: 15px 0;
}

.news__card-date{
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.02em;
}

.news__card-btn{
  display: block;
  text-decoration: none;
  color: white;
  width: 95px;
  height: 24px;
  border-radius: 15px;
  background: linear-gradient(91.24deg, #3383EA 29.88%, #226AC6 81.31%);
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #F8F8F8;
  position: relative;
  &:hover{
    width: 110px;
    letter-spacing: 0.1em;
  }
}


.news__wrp{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px auto  50px;
  padding: 0 10px;
  max-width: 1340px;
}

@media(min-width:700px){
  .news__card{
    width: 45%;
  }

  .news__card-wrp{
    display: flex;
    justify-content: space-between;
  }


.news__h2{
font-size: 31px;
line-height: 60px;
}

}



.slider-container{
  overflow: hidden;

  margin: 0 auto;
  width: 280px;
}

.slider-track{
  display: flex;
  transition: .2s;
}

.slider-item{
  width: 280px;
  height: 340px;
}

.news__card1{
  margin: 20px;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.slider-buttons{
  text-align: center;
}

.btn-prev{
  &:disabled{
    svg{
      opacity: 0.3;    }
  }
}

.btn-next{
  &:disabled{
    svg{
      opacity: 0.3;    }
  }
}

.news-wrp{
  max-width: 1240px;
  width: 95%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(min-width: 650px){
  .slider-container{
    width: 560px;
  }
}

@media(min-width: 950px){
  .slider-container{
    width: 840px;
  }
}

@media(min-width: 1200px){
  .slider-container{
    width: 1160px;
  }
}



