
.project__h2{
  padding-left: 20px;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  //padding: 30px 20px;
  margin: 60px 0 60px 5%;
  display: block;
}

.news__title{
  line-height: 30px;
  text-align: center;
  font-weight: 300;
}

.news-btn-svg{

  fill: #3383EA;
}

.card-body{
  background-color: #fff;
  overflow-y: auto;
  height: calc(95vh - 210px);
  h3::after{
    content: "";
    color: #fff;
    width: min-content;
    margin-top: 9px;
    height: 3px;
    background: #556FA0;
    display: block;
  }
  .h3-1::after{
    content: 'Задачи';
  }
  .h3-2::after{
    content: 'Используемое оборудование';
  }
  h3{
   //width: min-content;
  }
  p{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.045em;
    margin: 30px 0;
  }
}
.btn-wrp{
  width: 150px;
  height: 42px;
  display: flex;
  position: absolute;
  bottom: -1px;
  right: 70px;
  .btn-prev{
    width: 50%;
    height: 100%;
    border: none;
    background-image: url('../img/prev-btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(149, 163, 191, 0.7);
  }
  .btn-next{
    border: none;
    background-image: url('../img/next-btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    background-color: rgba(149, 163, 191, 0.7);

  }
}
.news__card-wrp{
  margin: 0 auto;
  width: 80%;
}
@media(min-width:530px){
  .h3-2::after{
    content: 'Используемое оборудование';
    white-space: nowrap;
  }
}
.news__card{
  margin: 0 auto;
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 240px;
  height: 300px;
  min-width: 200px;
  display: none;
}

.news-active{
  transition: ease-in-out 0.3s;

  display: block;
}

.news__img{
  width: 100%;
  height: 120px;
}

.news__card-content{
  padding: 10px;
}

.news__card-date-btn-wrp{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.news__card-title{
  font-weight: normal;
font-size: 16px;
line-height: 19px;
}

.news__card-description{
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin: 15px 0;
}

.news__card-date{
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.02em;
}

.news__card-btn{
  display: block;
  text-decoration: none;
  color: white;
  width: 95px;
  height: 24px;
  border-radius: 15px;
  background: linear-gradient(91.24deg, #3383EA 29.88%, #226AC6 81.31%);
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #F8F8F8;
  position: relative;
  &:hover{
    width: 110px;
    letter-spacing: 0.1em;
  }
}


.news__wrp{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px auto  50px;
  padding: 0 10px;
  max-width: 1340px;
}

@media(min-width:700px){
  
  .news__card-wrp{
    display: flex;
    justify-content: space-between;
  }


.news__h2{
font-size: 31px;
line-height: 60px;
}

}



.slider-container{
  overflow: hidden;

  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
}

.slider-track{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  transition: .35s;
}

.slider-item{
  margin: 0 auto;
  width: 95%;
  height: auto;
}

.news__card1{
  margin: 7px;
  header{
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    padding: 35px 20px;
    background-image: url('../img/project1.jpg');
    h5{
      font-size: 25px;
      line-height: 30px;
      font-weight: 700;
      color: #fff;
      letter-spacing: -0.04em;
    }
    p{
      position: absolute;
      bottom: 0px;
      margin-bottom: 35px;
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: -0.04em;
      line-height: 20px;
    }
  }
   transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.slider-buttons{
  text-align: center;
}

.news__btn:disabled{
  opacity: 0.7;
}
.h3-2, .h3-1{
  font-size: 25px;
  line-height: 34px;
}
.news-wrp{
  max-width: 1240px;
  width: 95%;
  position: relative;
  margin: -20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(min-width:960px){
  .project__h2{
    padding: 0;
    margin: 60px auto;
    text-align: center;
  }
  .news__card1{
    display: flex;
    height: 540px;
    header{
      height: auto;
      width: 43%;
    }
    .card-body{
      width: 57%;
      height: 540px;
    }
  }
  .news__card1 header h5{
    font-size: 30px;
    line-height: 42px;
    margin-top: 60px;
  }
  .news__card1 header p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
    
  }
}

@media(min-width:1080px){
  .news__card1 header h5{
    font-size: 40px;
    line-height: 42px;
    margin-top: 60px;
  }

}

.partners{
  max-width: 1130px;
  margin: 0 auto;
}

.news__btn{
  transition: .2s;
  &:hover{
    background-color: rgba(149, 163, 191, 0.9);
  }
  &:active{
    opacity: 0.6;
  }
  &:disabled{
    background-color: rgba($color: #D8D8D8, $alpha: 0.8);
  }
}