@import "../variables.scss";

.news{
  background-color: #f8f5f2;
  padding-top: 38px;
}

.news__header{
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 34px;
  color: black;
  text-transform: uppercase;
}

.news__cell{
  display: flex;
  width: 83.5%;
  margin: 0 auto;
  &:hover{
    color: #8c725f;
    .news__text{
      text-decoration: underline;
    }
    .news__date{
      fill: blanchedalmond;
    }
  }
}

.news__date{
  margin-top: 5px;
  width: 50px;
  height: 60px;
  background-image: url('../img/news-date.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  padding-top: 12px;
}

.news__date-day{
  font-weight: 600;
  font-size: 30px;
  line-height: 20px;
}

.news__date-mounth{
  font-size: 16px;
}

.news__text{
  margin-left: 7%;
  font-size: 18px;
  line-height: 27px;
  width: 85%;
}

.news__line{
  width: 83.5%;
  height: 1px;
  background-color: #e5ddd5;
  border: none;
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 23px;
}

.news__cell--hide, .news__line--hide{
  display: none;
}

.news__button{
background-color: #f8f5f2;
  width: 83.5%;
  border: 1px solid #e5ddd5;
  height: 48px;
  color: #000;
  font-size: 18px;
  line-height: 18px;
  padding-top: 8px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 8.25%;
  margin-top: 23px;
  &:hover{
    border-width: 2px;
  }
  &:active{
    background-color: #d5c9bd;
    color: #a99f95;
    border-width: 1px;
  }
}

@media (min-width: $tablet-width){
  .news{
    padding: 50px 7% 0 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .news__button{
    margin-top: 0;
  }

  .news__header{
    margin-top: 7px;
    order: 1;
    font-size: 40px;
    line-height: 40px;
  }

  .news__button{
    order: 2;
  }

  .news__cell{
    order: 3;
  }

  .news__line{
    display: none;
  }

}

@media (min-width: $desktop-width){
  .news{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .news__header{
    text-align: left;
    margin-left: 14%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .news__cell--hide{
    display: flex;
  }

}
