.review {
  padding-top: 28px;
  height: 300px;
  margin: auto 0;
  position: relative;
  background-color: #f8f5f2;
  background-image: url('../img/adv-back.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 101%;
}

.rw-slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.rw-slides {
  padding-top: 30px;
  height: inherit;
  left: 8%;
  width: 83.5%;
	opacity: 0;
  position: absolute;
  display: flex;
	width: inherit;
	z-index: 0;
  transition: transform ease-in-out .3s, opacity ease-in-out .3s;
}

#rw-slide1:checked ~ .rw-slider > .rw-slide1,
#rw-slide2:checked ~ .rw-slider > .rw-slide2,
#rw-slide3:checked ~ .rw-slider > .rw-slide3{
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

.review > input {
	display: none;
}

.review .rw-controls {
  top: 245px;
  z-index: 2;
	left: calc(50vw - 45px);
	position: absolute;
}

.review label {
	cursor: pointer;
	display: inline-block;
	height: 10px;
	margin: 0 7px 0 10px;
	position: relative;
	width: 10px;
  transition: background ease-in-out .5s;
  transform: rotate(45deg);
}

.review label:hover,
#rw-slide1:checked ~ .rw-controls label:nth-of-type(1),
#rw-slide2:checked ~ .rw-controls label:nth-of-type(2),
#rw-slide3:checked ~ .rw-controls label:nth-of-type(3){
	background: #353535;
}

.review label:after {
  border: 1px solid #616160;
	content: " ";
	display: block;
	height: 10px;
	left: -1px;
	position: absolute;
	top: -1px;
  width: 10px;
}

.review__line{
  width: 100%;
  height: 1px;
  border: none;
  margin-bottom: 28px;
  background-color: #e5ddd5;
}

.review__header{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
}

.review__img{
  margin-top: 10px;
  width: 100%;
}

.review__text{
  margin-left: 7%;
  width: 75%;
}

.review__name{
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 600;
}

.review__description{
  font-size: 18px;
  line-height: 27px;
}

@media (min-width: $tablet-width){
  .review {
    height: 400px;
  }

  .review__line{
    margin-bottom: 47px;
  }

  .review__header{
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    margin-left: 8%;
    margin-bottom: 48px;
  }

  .rw-slides{
    left: 8%;
    width: 83.5%;
    height: 160px;
    border: solid 1px #e5ddd5;
  }

  .review__img{
    margin-left: 35%;
  }

  .review__text{
    margin-left: 7%;
    width: 80%;
  }

  .review .rw-controls {
    top: 314px;
    background-color: #f8f5f2;
    padding: 0 15px 0 15px;
  }
}

@media (min-width: $desktop-width){
  .rw-slides {
    padding-top: 0;
  }

  .review__img{
    width: 249px;
    height: 162px;
    margin-left: 0;
    margin-top: -3px;
  }

  .review__name{
    padding-top: 30px;
  }

  .review__text{
    width: 70%;
    margin-left: 4%;
  }

}
