

.services__item{
    position: relative;
    height: 320px;
    width: 277px;
    padding: 20px;
    .services__item--bg{
        position: absolute;
        top: 0px;
    }
}

.services__h3{
    transition: all .2s;
    z-index: 2;
    position: relative;
    color: #fff;
    margin-left: 10px;
    margin-top: 57px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.services__list{
    margin: 44px 0;
}

.services__arrow-wrp{
    display: flex;
    justify-content: center;
    .arrow-img{
        margin-left: 80px;
        margin-right: -25px;
        width: 85px !important;
        height: auto !important;
        position: relative;
    }
    .circle-img{
        position: relative;
        width: 48px !important;
        height: 48px !important;
    }
}

.services__link{
    transition: all .2s;
    position: absolute;
    bottom: 35px;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        margin-bottom: -20px;
        font-size: 15px;
    }
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}

.services__list{
    list-style: none;
}

.services__item{
    
    background-position: top center;
    background-size: cover;
}

.service__item--1{
    background-image: url('../img/services-1.jpg');
}

.service__item--2{
    background-image: url('../img/services-3.jpg');
}


.service__item--3{
    background-image: url('../img/services-4.jpg');
}


.service__item--4{
    background-image: url('../img/services-5.jpg');
}


.service__item--5{
    background-image: url('../img/services-2.jpg');
}

@media (min-width:950px){
    .services__item{
        transition: all .3s;
        height: auto;
        padding: 20px;
        width: 24%;
        align-items: center;
        display: flex;
        justify-content: center;
        max-height: 310px;
        height: calc(48vw / 1.8);
        position: absolute;
        .services__item--bg{
            position: absolute;
            top: 0px;
        }
    }
    .services__list{
        position: relative;
        transition: .2s;
        margin: 0 auto;
        max-width: 1160px;
        max-height: 650px;
        margin-top: 70px;
        transition: all .35s;
        width: calc(100% - 40px);
        height: calc(100vw / 1.8);
    }
    .services__link{
        display: none;
    }
    .services__h3{
        margin: 0px;
        text-align: center;
       
    }
    
    .services__list{
        .service__item--1{
            top: 0;
            left: 0;
        }
        .service__item--2{
            top:0;
            left: 50%;
        }
        .service__item--3{
            top: 50%;
            left: 50%;
        }
        .service__item--4{
            top: 0;
            left: 75%;
        }

        .service__item--5{
            top: 50%;
            left: 75%;
        }
    }

     
    
    .sides{}
.sides-1-1{}
.sides-2-4{}
.services__list{
    .service__hover--1-1{
        top: 0;
        left: 0;
    }

    .service__hover--1-2{
        top: 0;
        left: 25%;
    }

    .service__hover--2-1{
        left: 0px;
        top: 50%;
    }
    .service__hover--1-2{
        left: 25%;
        top: 0;
    }
    .service__hover--1-3{
        left: 50%;
        top: 0;
    }
    .service__hover--2-2{
        left: 25%;
        top: 50%;
    }
    /*.service__hover--3-2{
        left: 0;
        top: 50%;
    }*/
    .service__active{
        width: 49%;
        height: calc(100vw / 1.8 - 2%);
        z-index: 3;
        max-height: 635px;
        h3{
            font-size: 38px;
            transition: .2s;
            line-height: 47px;
            margin-top: -150px;
        }
        .services__link{
            margin-left: 60px;
            display: flex;
            .arrow-img{
                width: 156px !important;
                margin-right: -55px;
            }
            .circle-img{
                width: 100px !important;
                height: 100px !important;
            }
        }
        .services__link span{
            margin-right: 30px;
            font-size: 20px;
        }
    }

    .service__hover--2-3{
        left: 50%;
        top: 50%;
    }
    .service__hover--2-4{
        left: 75%;
        top: 50%;
    }
    .service__hover--1-4{
        left: 75%;
        top: 0%;
    }
    .service__hover--4-4{
        left: 75%;
        top: 50%;
    }
}
}

