@import "../variables.scss";

.page-main{
  background-color: #353535;
}

.statistic__header{
  min-height: 100px;
  max-height: 250px;
  background-color: white;
  padding: 32px 0 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statistic__h2{
  font-size: 30px;
  line-height: 30px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  width: 66%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 24px;
}

.statistic__header-text{
  font-size: 20px;
  line-height: 27px;
  width: 88%;
  text-align: center;
  margin: 0 auto;
}

.statistic__list{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.statistic__item{
  padding: 0 8.25% 0 8.25%;
  min-height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistic__item--1{
  background-color: #404040;
}

.statistic__item--2{
  background-color: #4e4e4e;
}

.statistic__item--3{
  background-color: #353535;
}

.statistic__item--4{
  background-color: #404040;
}

.statistic__number{
  font-size: 40px;
  font-weight: bold;
  color: white;
  line-height: 40px;
}

.statistic__description{
  font-size: 18px;
  line-height: 18px;
  color: #f7f4f1;
  text-align: right;
}

.statistic__small{
  font-size: 20px;
  line-height: 20px;
  height: 60px;
  background-color: #242424;
  color: #7f7f7f;
  text-align: center;
  padding-top: 20px;
}

@media (min-width: $tablet-width){
  .statistic{
    margin: 0 auto;
    margin-top: -184px;
    width: 83.5%;
  }

  .statistic__header{
    min-height: 184px;
    flex-direction: row;
    padding: 37px 0 32px 0;
  }

  .statistic__h2{
    padding: 0 5% 0 6.25%;
    font-size: 40px;
    line-height: 40px;
    width: 50%;
    text-align: left;
    text-transform: none;
  }

  .statistic__header-text{
    width: 50%;
    text-align: left;
    padding: 0 5% 0 6.25%;
  }

  .statistic__list{
    flex-wrap: nowrap;
    flex-flow: wrap;
  }

  .statistic__item{
    height: 159px;
    width: 50%;
    padding: 26px 0 26px 6%;
    flex-direction: column;
    align-items: flex-start;
  }

  .statistic__number{
    font-size: 72px;
    line-height: 72px;
  }

  .statistic__description{
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .statistic__small{
    background-color: white;
    color: #cacaca;
    position: absolute;
    margin-top: -65px;
    margin-left: 5%;
  }
}

@media (min-width: $desktop-width){
  .statistic{
    display: flex;
    flex-wrap: nowrap;
    margin-top: -159px;
  }

  .statistic__header{
    max-height: 318px;
    height: 318px;
    width: 33.3%;
    flex-direction: column;
  }

  .statistic__h2{
    height: 50%;
    width: 67.5%;
    padding: 0;
  }

  .statistic__header-text{
    height: 50%;
    padding: 0;
    width: 67.5%;
  }

  .statistic__list{
    width: 66.6%;
  }

  .statistic__item{
    height: 159px;
    width: 50%;
  }

  .statistic__small{
    margin-left: -24%;
    margin-top: 250px;
  }
}
